---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Aims and Ambitions</h2>
								<p>To build an inclusive, welcoming, collaborative community where people from all backgrounds can come together to focus on leadership skills. We gently encourage all participants to contribute to discussions, to facilitate sometimes, and to listen thoughtfully to others, so all voices are heard.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Upcoming Meetings</h2>
								<p>Take a look at what we have coming up and feel free to join us!</p>
							</header>
							<ul class="features">
							{% for meetup in site.meetups %}
								<li class="icon fa-{{ meetup.icon }}">
									<h3>
{% if meetup.rsvp %}
										<a href="{{ meetup.rsvp }}">{{ meetup.title }}</a>
{% else %}
										{{ meetup.title }}
{% endif %}
                  </h3>
									<h4>{{ meetup.date | date_to_long_string }}, <br />{{ meetup.time }}</h4>
									<p>{{ meetup.location }}</p>
									<p>{{ meetup.content | markdownify }}</p>
{% if meetup.rsvp %}
									<a href="{{ meetup.rsvp }}">RSVP here</a>
{% endif %}
								</li>
							{% endfor %}
							</ul>
<!--							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
-->
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style2 special">
						<div class="inner">
							<header class="major"><a id="CoC">
								<h2>Code of Conduct</h2>
							</a></header>
 							<p>SheffTechLeadership has committed to including, hearing and respecting the voices of everyone regardless of sex, gender identity or expression, sexual orientation, disability, physical appearance, age, body size, race, nationality, or religious beliefs.</p>

<p>We do not tolerate harassment in any form. Harassment includes but is not limited to; offensive verbal or written comments related to sex, gender identity or expression, sexual orientation, disability, physical appearance, age, body size, race, nationality, or religious beliefs, deliberate intimidation, threats, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Sexual language and imagery is not appropriate for any SheffTechLeadership event or communication channel.</p>

<p>Community members asked to stop harassing behavior must comply immediately. Any sponsors and presenters are also subject to the anti-harassment policy. If you see or experience a violation of these rules, contact an organiser or facilitator. We will ask participants violating these rules to leave, and bar them from future events.</p>

<p><a href="https://www.chathamhouse.org/chatham-house-rule">Chatham House rules</a> apply. Participants are free to use or share information they learn at a meetup, but not to reveal the identity or affiliation of the people involved.</p>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<div class="inner mapouter" style="margin-right: 10px">
								<div class="gmap_canvas">
									<iframe width="600" height="293" id="gmap_canvas" src="https://maps.google.com/maps?q=Sheffield%20technology%20Parks&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
								</div>
								<style>.mapouter{text-align:right;height:293px;width:500px;}.gmap_canvas {overflow:hidden;background:none!important;height:293px;width:500px;}</style>
							</div>							<header>
								<h2>Thankyou to our generous hosts</h2>
								<p>Sheffield Technology Parks, Arundel Street, Sheffield, S1 2NS.</p>
							</header>

						</div>
					</section>

